@font-face {
    font-family: "Industry";
    src: local("Industry Book"), local("Industry-Book"),
        url("../fonts/industry/Industry-Book.woff") format("woff2"),
        url("../fonts/industry/Industry-Book.woff2") format("woff"),
        url("../fonts/industry/Industry-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-title {
    font-family: "Industry";
    position: relative;
    background: linear-gradient(90deg, #2a37ec, #fff, #000);
    background-repeat: no-repeat;
    background-size: 20%;
    animation: animate 3s infinite linear alternate;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.4);
}

@keyframes animate {
    0% {
        background-position: -20%;
    }
    100% {
        background-position: 120%;
    }
}

#bars {
    display: flex;
    justify-content: center;
    align-items: center;
    /*     background: black; */
}

.bar {
    background: #52467b;
    bottom: 1px;
    height: 3px;
    width: 10px;
    margin: 0px 4px;
    border-radius: 5px;
    animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
    0% {
        opacity: 0.35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 70px;
    }
}

.bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
}
.bar:nth-child(2) {
    left: 15px;
    animation-duration: 433ms;
}
.bar:nth-child(3) {
    left: 29px;
    animation-duration: 407ms;
}
.bar:nth-child(4) {
    left: 43px;
    animation-duration: 458ms;
}
.bar:nth-child(5) {
    left: 57px;
    animation-duration: 400ms;
}
.bar:nth-child(6) {
    left: 71px;
    animation-duration: 427ms;
}
.bar:nth-child(7) {
    left: 85px;
    animation-duration: 441ms;
}
.bar:nth-child(8) {
    left: 99px;
    animation-duration: 419ms;
}
.bar:nth-child(9) {
    left: 113px;
    animation-duration: 487ms;
}
.bar:nth-child(10) {
    left: 127px;
    animation-duration: 442ms;
}

.response-box {
    min-height: 200px;
}

.icon-wrapper {
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    float: left;
    transition: all 0.5s ease;
}
.icon {
    color: #d8e2dc;
    font-size: 65px;
    transition: all 0.5s ease;
}
.icon-wrapper-play {
    width: 90px;
    height: 90px;
    border: 5px solid #701816;
}

.icon-play {
    color: #701816;
}

.icon-wrapper-reset {
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid #000000;
}

.icon-reset {
    position: relative;
    width: 50px;
    color: #701816;
}

.icon-wrapper-send {
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid #000000;
}

.icon-send {
    position: relative;
    top: 4px;
    width: 50px;
    color: #701816;
}

@media screen and (min-width: 768px) {
    .icon-wrapper-play:hover {
        border: 5px solid #9bac00;
        box-shadow: 0 0 15px #9bac00;
        transition: all 0.5s ease;
    }
    .icon-play:hover {
        transition: all 0.5s ease;
    }
    .icon-wrapper-reset:hover {
        border: 3px solid #9bac00;
        box-shadow: 0 0 15px #9bac00;
        transition: all 0.5s ease;
    }
    .icon-reset:hover {
        width: 40px;
        transition: all 0.5s ease;
    }
    .icon-wrapper-send:hover {
        border: 3px solid #9bac00;
        box-shadow: 0 0 15px #9bac00;
        transition: all 0.5s ease;
    }
    .icon-send:hover {
        width: 40px;
        transition: all 0.5s ease;
    }
    .speak:hover {
        color: #9bac00;
        position: relative;
        text-shadow: 0 0 2px #9bac00;
    }
}

.speak {
    transition: all 0.5s ease;
}

.isSpeaking {
    color: #9bac00;
    position: relative;
    text-shadow: 0 0 2px #9bac00;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #9bac00;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.ready {
    font-family: "Industry";
    position: relative;
    background: linear-gradient(90deg, #2a37ec, #fff, #000);
    background-repeat: no-repeat;
    background-size: 20%;
    animation: animate 3s infinite linear alternate;
    background-clip: text;
    -webkit-text-fill-color: rgba(155, 155, 155, 0.2);
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
